/*-- scss:defaults --*/
$blue: #186897;
$primary: $blue;
$link-color: $blue;

$code-color: #b2672d;
$code-block-bg: #eee;
$code-block-font-size: 0.8em;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
$font-family-sans-serif: "Crimson Text", sans-serif;
$presentation-heading-color: $blue;

/*-- scss:rules --*/

:root {
    font-variant-ligatures: none;
}

.reveal img.inline {
    height:1em;
    vertical-align:middle;
}

.reveal code {
    font-size: 0.8em;
}

div.code-with-filename {
    border: 1px #eee;
    padding: 0;
    margin-bottom: 1em;
}

div.code-with-filename pre code {
    background-color: #f8f9fa;
    padding: 0.5em;
}

div.code-with-filename div.code-with-filename-file {
    background-color: rgba(219,219,219);
    padding-left: 0.5em;
}

div.code-with-filename div.code-with-filename-file pre{
    background-color: rgba(219,219,219);
    padding: 0;
}

.reveal .slide .task {
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 6px;
    margin-top: 6px;
    border-left: solid 5px darken($primary, 10%);
    background-color: lighten($primary, 60%);
  }
  